
body {
  font-family: "Segoe UI", system-ui, sans-serif;
  background: #f7f9fb;
  margin: 0;
  padding: 40px;
  color: #333;
}

.pessoa {
    background: white;
    border-radius: 8px;
    padding: 6px 12px;
    margin: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.2s ease-in-out;
}

.pessoa.prioridade { border-left: 4px solid #f4a261; }
.pessoa.alta { border-left: 4px solid #e63946; }

.posicaoReal {
    background: #f0f8ff;
    transform: scale(1.03);
    border-left: 4px solid #0077b6;
}

form {
  max-width: 500px;
  margin: 10px 75px ;
  padding: 25px 35px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 18px;
}

label {
  margin-bottom: 4px;
  display: block;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  margin-bottom: 5px;
  padding: 6px 14px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border 0.2s;
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0,123,255,0.3);
}

fieldset {
  border: none;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #0056b3;
}