
body {
  font-family: "Segoe UI", system-ui, sans-serif;
  background: #f7f9fb;
  margin: 0;
  padding: 40px;
  color: #333;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

section {
  width: 100%;
}

form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: max-content;
  margin: 5px;
  padding: 12px;
  border-radius: 15px;
}

form#person-values {
  background-color: #efefef;
  border: 1px solid #cfcfcf;
}

form#file-values {
  background-color: #eee;
  border: 1px solid #cfcfcf;
}

form input{
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
  height: 25px;
}

form input[type="text"], form input[type="number"] {
  border: 1px solid #cfcfcf;
}
form input[type="number"] {
  width: 60px;
}

form input[type="submit"]{
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  height: 35px;
  width: 100px;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}

form input[type="checkbox"] {
  background-color: #45a049;
  width: 20px;
}


label {
  width: 332px;
  color: #898989;
  text-align: center;
  font-weight: bold;
  border: 1px dashed #ccc;
  padding: 5px;
  height: 25px;
}


.queue-container {
  margin: 5px;
  padding: 20px;
  border-radius: 15px;
  background-color: #efefef;
  border: 1px solid #cfcfcf;
  height: 600px;
  overflow-x: auto;
}

button, select {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  outline: none;
  color: #000;
  cursor: pointer;
  margin: 5px;
  height: 35px;
  width: 100px;
}

select {
  width: 150px;
  padding-left: 10px;
  text-align: center;
}
select option {
  text-align: left;
}
button:hover, select:hover {
  background-color: #ddd;
}

.queue-container ul li {
  list-style-type: none;
  padding: 20px;
  margin: 5px;
  border-bottom: 1px solid #ccc;
}

.queue-container ul li span {
  font-weight: bold;
}