
body {
  font-family: "Segoe UI", system-ui, sans-serif;
  background: #f7f9fb;
  margin: 0;
  padding: 40px;
  color: #333;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

section {
  background-color: yellow;
  width: 100%;
}

form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: max-content;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
}

form#person-values {
  background-color: #333;
}

form#file-values {
  background-color: #333;
}
